}
.body {
    margin-top: 100px;
    margin-bottom: 30px;
    position: relative;
}

}
.portfolio-item {
    margin-bottom: 0px;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.img-circle {
    border-radius: 50%;
  }
  .ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.logo {
    width: 25%;
    height: 100%;
}
