body{margin:0px; padding:0px;}
@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}
 
@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}
.home-product {
    background:url("https://static.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg");
    float: left;
    padding: 100px 0;
    width: 100%;
    color:#fff !important;
	min-height:641px;
	-webkit-animation: backgroundScroll 35s linear infinite;
animation: backgroundScroll 10s linear infinite;
background-size:130% 100%;
	background-position:top;
	background-attachment:fixed;

}

